<div class="dashboard" cdkDropListGroup>
  <div *ngIf="todos$ | async as todos">
    <mat-card *ngFor="let list of todos.list | orderBy : 'asc' : 'position'">
      <div class="remove-card">
        <button mat-icon-button (click)="onRemoveList(list.id!, todos.id!)">
          <mat-icon>remove</mat-icon>
        </button>
      </div>

      <app-list [data]="list" [todoId]="todos.id!"></app-list>
    </mat-card>

    <mat-card>
      <app-fav-button (click)="onAddList(todos.id!)">add</app-fav-button>
    </mat-card>
  </div>
</div>
