.dashboard {
  margin: 1rem;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 30px;
  grid-auto-rows: 1fr;
  grid-row-gap: 30px;

  & :last-child mat-card {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.remove-card {
  position: absolute;
  right: 0;
  top: 0;
}
