<div class="login">
  <div class="login-card">
    <mat-card>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <app-field
          label="Email"
          formControlName="email"
          [parentForm]="loginForm"
        ></app-field>

        <app-field
          label="Password"
          formControlName="password"
          [parentForm]="loginForm"
          [isHidden]="true"
        ></app-field>

        <div class="actions">
          <app-button
            mat-raised-button
            color="primary"
            type="submit"
            label="Login"
            [isLoading]="isSubmitting"
            [isDisabled]="isSubmitting || !loginForm.valid"
          >
          </app-button>

          <button (click)="logout()" type="button">logout</button>
        </div>
      </form>
    </mat-card>
  </div>
</div>
