<mat-form-field appearance="standard">
  <mat-label>{{ label }}</mat-label>
  <input
    matInput
    [type]="type"
    [value]="value"
    (blur)="touched()"
    [disabled]="isDisabled"
    (input)="onChange($event)"
    [formControl]="formControl"
    placeholder="{{ placeholder }}"
    (keydown.enter)="onEnterPress($event)"
  />

  <button
    matSuffix
    *ngIf="isHidden"
    mat-icon-button
    [attr.aria-pressed]="isHide"
    (click)="setHideInputValue()"
    aria-label="Hide password"
  >
    <mat-icon>{{ isHide ? "visibility_off" : "visibility" }}</mat-icon>
  </button>

  <mat-hint>{{ hint }}</mat-hint>

  <mat-error>
    <app-field-error [label]="label" [control]="formControl"></app-field-error
  ></mat-error>
</mat-form-field>
