<form [formGroup]="form">
  <mat-card-title class="header" *ngIf="!editing" (dblclick)="onEditStart()"
    >{{ form.value.header }}
  </mat-card-title>
  <app-field
    *ngIf="editing"
    label="Header"
    formControlName="header"
    [parentForm]="form"
    (onInputTokenEnd)="rename($event)"
  ></app-field>

  <div
    cdkDropList
    (cdkDropListDropped)="drop($event)"
    [id]="data.id!"
    [cdkDropListData]="items"
  >
    <div class="chip-list-wrapper">
      <mat-chip-list>
        <mat-chip
          *ngFor="let item of items"
          cdkDrag
          [cdkDragData]="item"
          (removed)="delete(item.id!)"
        >
          <app-item [item]="item" class="items"></app-item
        ></mat-chip>
      </mat-chip-list>
    </div>
  </div>
  <app-field
    label="New todo"
    formControlName="todoTitle"
    [parentForm]="form"
    (onInputTokenEnd)="add($event)"
  ></app-field>
</form>
