<form [formGroup]="form" class="form">
  <mat-card-title class="header" *ngIf="!editing" (dblclick)="onEditStart()"
    >{{ form.value.header }}
  </mat-card-title>
  <app-field
    *ngIf="editing"
    label="Header"
    formControlName="header"
    [parentForm]="form"
    (onInputTokenEnd)="rename($event)"
  ></app-field>

  <div
    cdkDropList
    (cdkDropListDropped)="drop($event)"
    [id]="data.id.toString()"
    [cdkDropListData]="data"
  >
    <div class="chip-list-wrapper">
      <mat-chip-list>
        <mat-chip
          *ngFor="let item of data.items | orderBy : 'asc' : 'position'"
          cdkDrag
          [cdkDragData]="item"
          (removed)="deleteItem(item.id!)"
        >
          <app-item [item]="item" class="items"></app-item
        ></mat-chip>
      </mat-chip-list>
    </div>
  </div>

  <app-field
    label="New todo"
    formControlName="text"
    [parentForm]="form"
    (onInputTokenEnd)="add($event)"
  ></app-field>

  <div class="picture-line">
    <div class="web-camera">
      <video #video [height]="size" [width]="size"></video>

      <button type="button" (click)="onCam()">on/off camera</button>
    </div>
    <div class="img">
      <canvas #canvas [height]="size" [width]="size"></canvas>

      <button type="button" (click)="handleImage()">take photo</button>
    </div>
  </div>
</form>
