.chip-list-wrapper {
  min-height: 1rem;
}

mat-chip {
  width: 100%;
  &:nth-last-child(1) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.items {
  width: 100%;
}
